<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Auth with NodeJS</title>
</head>
<body>
    <h2>Log in</h2>
    <% if (typeof error_msg !== 'undefined') { %>

        <p><%= error_msg %></p>
    
    <% } %>
    <form action="/user/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="name">Password</label>
            <input type="password" name="password" id="password">
        </div>
        
        <input type="submit" value="Log in">
    </form>

    <p>Or maybe... <a href="/user/register">sign up?</a></p>
</body>
</html>